@using RecycleCoin.Entities.Concrete
@using RecycleCoinMvc.Models

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Rc = ViewBag.balance;
    var address = ViewBag.address;
    var transactions = ViewBag.transactions as List<TransactionSchema>;
    var user = Model as AppUser;

}


<section style="width: 100%; margin-top: -18px; padding-top: 180px; padding-bottom: 70px; background: linear-gradient(230deg, red, #ff00cb); min-height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: #fff;width: 49rem;height: 35rem;box-shadow: 0px 0px 20px 1px;border-radius: 25px;display: flex;flex-direction: column;align-items: center;">
        <div style="text-align: center;margin-top: 23px;">
            <h2>Cüzdan Detayları</h2>
        </div>
        <div class="d-flex align-items-start h-50" style="border-color: var(--indigo);width: 85%;">
            <div>
                <img src="../../image/default.png" style="width: 135px;">
                <p class="text-center">@user.UserName</p>
            </div>
            <div style="margin-left: 40px;overflow-x: auto;">
                <h5></h5>
                @using (Html.BeginForm("Wallet", "User", FormMethod.Post))
                {
                    <div class="form-group" style="width: 20rem;">
                        <label for="reward"><strong>Adres</strong><br></label>
                        <input class="form-control" type="text" name="address" id="address" value="@user.PublicKey">
                    </div>
                    <div class="form-group text-center">
                        <button id="sendBtn" class="btn ConfirmBtn" href="#" type="submit" style="width: 16rem !important; padding: 12px;">Adresin bilgilerine bak</button>
                    </div>
                }
                <div class="d-flex justify-content-around">
                    <div>
                        <h5>Recycle Coin</h5>
                        <p style="overflow-x: auto; display: inline">
                            @{ var totalBalance = Convert.ToDecimal(Rc) + user.ConvertedCarbon; }
                            @totalBalance
                        </p>
                    </div>
	                @{
		                if (ViewBag.myAddress == address)
                        {
                            var res = Convert.ToDecimal(user.Carbon) / 100000000;
	                        <div>
                                <a href="/User/ConvertCarbon/@user.Id" onclick="return confirm('@user.Carbon karbonu @res RC değerine dönüştürmek istediğinize emin misiniz ?')" class="btn btn-outline-success" style="width: 3rem; margin-top: 14px">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z" /></svg>
                                </a>

                            </div>
                        }
                    }
                    <div>
                        <h5>Carbon</h5>
                        <p style="overflow-x: auto;">@{ var carbon = user?.Carbon ?? 0x0; }@carbon</p>
                    </div>
                </div>
            </div><a class="float-right btn ConfirmBtn" id="sendRC" href="/Transaction/CreateTransaction" style="width: 7rem !important;margin-left: 17px !important;margin-bottom: 17px !important;margin-top: 90px!important;padding: 12px!important;">Rc gönder</a>
        </div>
        <div class="d-flex flex-column align-items-center h-75 w-100" style="overflow-y: auto;">
            <div class="table-responsive" data-aos="zoom-in" data-aos-delay="350">
                <table class="table table-striped table-dark" id="TransactionTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderen Adres</th>
                            <th>Alıcı Adres</th>
                            <th>Tutar</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                        @if (transactions != null)
                        {
                            for (int i = 0x0; i < transactions.Count; i++)
                            {

                                var fromAddress = transactions[i].fromAddress == null ? "System" : transactions[i].fromAddress;

                                <tr style="background-color: #F42951;">
                                    <td>@i"</td>
                                    <td style="word-break: break-all">@fromAddress</td>
                                    <td style="word-break: break-all">@transactions[i].toAddress</td>
                                    <td>@transactions[i].amount</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>